<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Saira:wght@300;400;700&display=swap");
      html, body {
        font-family: "Saira", sans-serif;
      }
    </style>
  </head>
  <body>
    <div
      style="width: 100%; max-width: 768px; margin-left: auto; margin-right: auto; padding: 1rem"
    >
      <img
        src="https://api.teachersucenter.com/media2/duwin-form-header.jpg"
        alt="Duwin Logo banner"
        width="600px"
        height="150px"
        style="margin-bottom: 1rem"
      />
      <h1 style="margin-top: 0">Invitation from the Duwin tech team</h1>
      <p>
        Congratualtions, <b>{{context.name}}</b> and welcome to the Duwin team!
        Your volunteering period at Duwin begins now. 
        You will need to commit <b>3 months</b> to receive an official certicate. During the 3-month period, 
        you will have to attend occasional meetings.
      </p>
      <p>
        The Duwin team will be communicating using the <a href="https://discord.com/">Discord</a> platform.
        Please join the official Duwin discord server: {{context.server}} <br>
        <b>This server invitation link is confidential. Do not share it with anyone.</b>
      </p>
      <h1 style="margin-top: 0; margin-bottom: 1rem; color: #333">Teacher Su Tech</h1>
      <hr style="border-color: #ccc; border-width: 1px" />
      <p style="font-size: 0.8rem;">
        This is a system generated message. Please do not reply to this. For IT enquiries, 
            you may email us at techgeeks@teachersucenter.com.
      </p>
      <hr style="border-color: #ccc; border-width: 1px; margin-bottom: 1rem" />
      <div style="margin-bottom: 1rem; font-size: .8rem;">
        <a href="mailto:techgeeks@teachersucenter.com" style="color: rgb(82 82 82); margin-right: 1rem">IT SUPPORT</a> |
        <a href="mailto:hello@teachersucenter.com" style="color: rgb(82 82 82); margin-left: 1rem">CONTACT US</a>
      </div>
      <div style="font-size: .8rem;">&copy; TECH TEAM - TEACHER SU CENTRE</div>
    </footer>
  </body>
</html>
