<!DOCTYPE html>
<html
  lang="en"
  style="
    border: 0 solid #e5e7eb;
    box-sizing: border-box;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-scroll-snap-strictness: proximity;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    -webkit-text-size-adjust: 100%;
    font-family: Saira, ui-sans-serif, system-ui, -apple-system,
      BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
      sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
      Noto Color Emoji;
    line-height: 1.5;
    tab-size: 4;
  "
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tr. Su Center</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Saira:wght@300;400;700&display=swap");
      :-moz-focusring {
        outline: auto;
      }
      @media (min-width: 640px) {
        .container {
          max-width: 640px;
        }
      }
      @media (min-width: 768px) {
        .container {
          max-width: 768px;
        }
      }
      @media (min-width: 1024px) {
        .container {
          max-width: 1024px;
        }
      }
      @media (min-width: 1280px) {
        .container {
          max-width: 1280px;
        }
      }
      @media (min-width: 1536px) {
        .container {
          max-width: 1536px;
        }
      }
      html,
      body {
        font-family: Saira, ui-sans-serif, system-ui, -apple-system,
          BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
          "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
          "Segoe UI Symbol", "Noto Color Emoji";
      }
    </style>
  </head>
  <body
    style="
      border: 0 solid #e5e7eb;
      box-sizing: border-box;
      --tw-translate-x: 0;
      --tw-translate-y: 0;
      --tw-rotate: 0;
      --tw-skew-x: 0;
      --tw-skew-y: 0;
      --tw-scale-x: 1;
      --tw-scale-y: 1;
      --tw-scroll-snap-strictness: proximity;
      --tw-ring-offset-width: 0px;
      --tw-ring-offset-color: #fff;
      --tw-ring-color: rgba(59, 130, 246, 0.5);
      --tw-ring-offset-shadow: 0 0 #0000;
      --tw-ring-shadow: 0 0 #0000;
      --tw-shadow: 0 0 #0000;
      --tw-shadow-colored: 0 0 #0000;
      line-height: inherit;
      margin: 0;
    "
  >
    <div
      id="app"
      style="
        border: 0 solid #e5e7eb;
        box-sizing: border-box;
        --tw-translate-x: 0;
        --tw-translate-y: 0;
        --tw-rotate: 0;
        --tw-skew-x: 0;
        --tw-skew-y: 0;
        --tw-scale-x: 1;
        --tw-scale-y: 1;
        --tw-scroll-snap-strictness: proximity;
        --tw-ring-offset-width: 0px;
        --tw-ring-offset-color: #fff;
        --tw-ring-color: rgba(59, 130, 246, 0.5);
        --tw-ring-offset-shadow: 0 0 #0000;
        --tw-ring-shadow: 0 0 #0000;
        --tw-shadow: 0 0 #0000;
        --tw-shadow-colored: 0 0 #0000;
      "
    >
      <section
        class="flex flex-col items-center justify-center min-h-screen"
        style="
          border: 0 solid #e5e7eb;
          box-sizing: border-box;
          --tw-translate-x: 0;
          --tw-translate-y: 0;
          --tw-rotate: 0;
          --tw-skew-x: 0;
          --tw-skew-y: 0;
          --tw-scale-x: 1;
          --tw-scale-y: 1;
          --tw-scroll-snap-strictness: proximity;
          --tw-ring-offset-width: 0px;
          --tw-ring-offset-color: #fff;
          --tw-ring-color: rgba(59, 130, 246, 0.5);
          --tw-ring-offset-shadow: 0 0 #0000;
          --tw-ring-shadow: 0 0 #0000;
          --tw-shadow: 0 0 #0000;
          --tw-shadow-colored: 0 0 #0000;
          display: flex;
          min-height: 100vh;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        "
      >
        <div
          class="container max-w-screen-md pt-8 pb-4 border border-[#EEEFFF]"
          style="
            border: 0 solid #e5e7eb;
            box-sizing: border-box;
            --tw-translate-x: 0;
            --tw-translate-y: 0;
            --tw-rotate: 0;
            --tw-skew-x: 0;
            --tw-skew-y: 0;
            --tw-scale-x: 1;
            --tw-scale-y: 1;
            --tw-scroll-snap-strictness: proximity;
            --tw-ring-offset-width: 0px;
            --tw-ring-offset-color: #fff;
            --tw-ring-color: rgba(59, 130, 246, 0.5);
            --tw-ring-offset-shadow: 0 0 #0000;
            --tw-ring-shadow: 0 0 #0000;
            --tw-shadow: 0 0 #0000;
            --tw-shadow-colored: 0 0 #0000;
            margin-left: auto;
            margin-right: auto;
            padding-left: 1rem;
            padding-right: 1rem;
            width: 100%;
            max-width: 768px;
            border-width: 1px;
            --tw-border-opacity: 1;
            border-color: rgb(238 239 255 / var(--tw-border-opacity));
            padding-top: 2rem;
            padding-bottom: 1rem;
          "
        >
          <div
            style="
              border: 0 solid #e5e7eb;
              box-sizing: border-box;
              --tw-translate-x: 0;
              --tw-translate-y: 0;
              --tw-rotate: 0;
              --tw-skew-x: 0;
              --tw-skew-y: 0;
              --tw-scale-x: 1;
              --tw-scale-y: 1;
              --tw-scroll-snap-strictness: proximity;
              --tw-ring-offset-width: 0px;
              --tw-ring-offset-color: #fff;
              --tw-ring-color: rgba(59, 130, 246, 0.5);
              --tw-ring-offset-shadow: 0 0 #0000;
              --tw-ring-shadow: 0 0 #0000;
              --tw-shadow: 0 0 #0000;
              --tw-shadow-colored: 0 0 #0000;
            "
          >
            <a href="https://www.teachersucenter.com"><img
              src="https://api.teachersucenter.com/media2/logoremote.png"
              alt="Teacher Su Center"
              width="100"
              class="mb-8"
              style="
                border: 0 solid #e5e7eb;
                box-sizing: border-box;
                --tw-translate-x: 0;
                --tw-translate-y: 0;
                --tw-rotate: 0;
                --tw-skew-x: 0;
                --tw-skew-y: 0;
                --tw-scale-x: 1;
                --tw-scale-y: 1;
                --tw-scroll-snap-strictness: proximity;
                --tw-ring-offset-width: 0px;
                --tw-ring-offset-color: #fff;
                --tw-ring-color: rgba(59, 130, 246, 0.5);
                --tw-ring-offset-shadow: 0 0 #0000;
                --tw-ring-shadow: 0 0 #0000;
                --tw-shadow: 0 0 #0000;
                --tw-shadow-colored: 0 0 #0000;
                display: block;
                vertical-align: middle;
                height: auto;
                max-width: 100%;
                margin-bottom: 2rem;
              "
            /></a>
            <h1
              class="font-bold text-3xl mb-8"
              style="
                border: 0 solid #e5e7eb;
                box-sizing: border-box;
                --tw-translate-x: 0;
                --tw-translate-y: 0;
                --tw-rotate: 0;
                --tw-skew-x: 0;
                --tw-skew-y: 0;
                --tw-scale-x: 1;
                --tw-scale-y: 1;
                --tw-scroll-snap-strictness: proximity;
                --tw-ring-offset-width: 0px;
                --tw-ring-offset-color: #fff;
                --tw-ring-color: rgba(59, 130, 246, 0.5);
                --tw-ring-offset-shadow: 0 0 #0000;
                --tw-ring-shadow: 0 0 #0000;
                --tw-shadow: 0 0 #0000;
                --tw-shadow-colored: 0 0 #0000;
                margin: 0;
                margin-bottom: 2rem;
                font-size: 1.875rem;
                line-height: 2.25rem;
                font-weight: 700;
              "
            >
              Hi, Welcome to Teacher Su Centre!
            </h1>
            <p
              class="mb-4 text-neutral-600"
              style="
                border: 0 solid #e5e7eb;
                box-sizing: border-box;
                --tw-translate-x: 0;
                --tw-translate-y: 0;
                --tw-rotate: 0;
                --tw-skew-x: 0;
                --tw-skew-y: 0;
                --tw-scale-x: 1;
                --tw-scale-y: 1;
                --tw-scroll-snap-strictness: proximity;
                --tw-ring-offset-width: 0px;
                --tw-ring-offset-color: #fff;
                --tw-ring-color: rgba(59, 130, 246, 0.5);
                --tw-ring-offset-shadow: 0 0 #0000;
                --tw-ring-shadow: 0 0 #0000;
                --tw-shadow: 0 0 #0000;
                --tw-shadow-colored: 0 0 #0000;
                margin: 0;
                margin-bottom: 1rem;
                --tw-text-opacity: 1;
                color: rgb(82 82 82 / var(--tw-text-opacity));
              "
            >
              Welcome {{context.name}}, your academic journey begins here. Let's get you started.
              The center will be using Microsoft Teams mainly for conducting its courses. Furthermore, 
              all academic-related communications will be made using this email address. To download 
              Microsoft Teams, click <a href="https://teams.microsoft.com/edustart">here</a>. 
            </p>
            <p
              class="mb-4 text-neutral-600"
              style="
                border: 0 solid #e5e7eb;
                box-sizing: border-box;
                --tw-translate-x: 0;
                --tw-translate-y: 0;
                --tw-rotate: 0;
                --tw-skew-x: 0;
                --tw-skew-y: 0;
                --tw-scale-x: 1;
                --tw-scale-y: 1;
                --tw-scroll-snap-strictness: proximity;
                --tw-ring-offset-width: 0px;
                --tw-ring-offset-color: #fff;
                --tw-ring-color: rgba(59, 130, 246, 0.5);
                --tw-ring-offset-shadow: 0 0 #0000;
                --tw-ring-shadow: 0 0 #0000;
                --tw-shadow: 0 0 #0000;
                --tw-shadow-colored: 0 0 #0000;
                margin: 0;
                margin-bottom: 1rem;
                --tw-text-opacity: 1;
                color: rgb(82 82 82 / var(--tw-text-opacity));
              "
            >
              Email = {{context.email}} <br>
              Password = {{context.password}} <br>
              After downloading Mircrosoft Teams, you may log in with the above credentials. 
              Please keep your credentials safe and do not share with anyone, <b>even with the school.</b>
              For your first time logging in, Microsoft will ask you to change your password. Please change it
              to something secure and do not lose the password. 
            </p>
          </div>
        </div>
        <footer
          class="bg-[#EEEFFF] text-neutral-600 border border-[#EEEFFF] container max-w-screen-md pt-4 pb-8"
          style="
            border: 0 solid #e5e7eb;
            box-sizing: border-box;
            --tw-translate-x: 0;
            --tw-translate-y: 0;
            --tw-rotate: 0;
            --tw-skew-x: 0;
            --tw-skew-y: 0;
            --tw-scale-x: 1;
            --tw-scale-y: 1;
            --tw-scroll-snap-strictness: proximity;
            --tw-ring-offset-width: 0px;
            --tw-ring-offset-color: #fff;
            --tw-ring-color: rgba(59, 130, 246, 0.5);
            --tw-ring-offset-shadow: 0 0 #0000;
            --tw-ring-shadow: 0 0 #0000;
            --tw-shadow: 0 0 #0000;
            --tw-shadow-colored: 0 0 #0000;
            margin-left: auto;
            margin-right: auto;
            padding-left: 1rem;
            padding-right: 1rem;
            width: 100%;
            max-width: 768px;
            border-width: 1px;
            --tw-border-opacity: 1;
            border-color: rgb(238 239 255 / var(--tw-border-opacity));
            --tw-bg-opacity: 1;
            background-color: rgb(238 239 255 / var(--tw-bg-opacity));
            padding-top: 1rem;
            padding-bottom: 2rem;
            --tw-text-opacity: 1;
            color: rgb(82 82 82 / var(--tw-text-opacity));
          "
        >
          <h1
            class="text-2xl font-bold mb-4"
            style="
              border: 0 solid #e5e7eb;
              box-sizing: border-box;
              --tw-translate-x: 0;
              --tw-translate-y: 0;
              --tw-rotate: 0;
              --tw-skew-x: 0;
              --tw-skew-y: 0;
              --tw-scale-x: 1;
              --tw-scale-y: 1;
              --tw-scroll-snap-strictness: proximity;
              --tw-ring-offset-width: 0px;
              --tw-ring-offset-color: #fff;
              --tw-ring-color: rgba(59, 130, 246, 0.5);
              --tw-ring-offset-shadow: 0 0 #0000;
              --tw-ring-shadow: 0 0 #0000;
              --tw-shadow: 0 0 #0000;
              --tw-shadow-colored: 0 0 #0000;
              margin: 0;
              margin-bottom: 1rem;
              font-size: 1.5rem;
              line-height: 2rem;
              font-weight: 700;
            "
          >
            Teacher Su Centre
          </h1>
          <hr
            class="border-[#CCC] mb-4"
            style="
              border: 0 solid #e5e7eb;
              box-sizing: border-box;
              --tw-translate-x: 0;
              --tw-translate-y: 0;
              --tw-rotate: 0;
              --tw-skew-x: 0;
              --tw-skew-y: 0;
              --tw-scale-x: 1;
              --tw-scale-y: 1;
              --tw-scroll-snap-strictness: proximity;
              --tw-ring-offset-width: 0px;
              --tw-ring-offset-color: #fff;
              --tw-ring-color: rgba(59, 130, 246, 0.5);
              --tw-ring-offset-shadow: 0 0 #0000;
              --tw-ring-shadow: 0 0 #0000;
              --tw-shadow: 0 0 #0000;
              --tw-shadow-colored: 0 0 #0000;
              border-top-width: 1px;
              color: inherit;
              height: 0;
              margin: 0;
              margin-bottom: 1rem;
              --tw-border-opacity: 1;
              border-color: rgb(204 204 204 / var(--tw-border-opacity));
            "
          />
          <p
            class="text-sm mb-4"
            style="
              border: 0 solid #e5e7eb;
              box-sizing: border-box;
              --tw-translate-x: 0;
              --tw-translate-y: 0;
              --tw-rotate: 0;
              --tw-skew-x: 0;
              --tw-skew-y: 0;
              --tw-scale-x: 1;
              --tw-scale-y: 1;
              --tw-scroll-snap-strictness: proximity;
              --tw-ring-offset-width: 0px;
              --tw-ring-offset-color: #fff;
              --tw-ring-color: rgba(59, 130, 246, 0.5);
              --tw-ring-offset-shadow: 0 0 #0000;
              --tw-ring-shadow: 0 0 #0000;
              --tw-shadow: 0 0 #0000;
              --tw-shadow-colored: 0 0 #0000;
              margin: 0;
              margin-bottom: 1rem;
              font-size: 0.875rem;
              line-height: 1.25rem;
            "
          >
            This is a system generated message. Please do not reply to this. For IT enquiries, 
            you may email us at techgeeks@teachersucenter.com. For academic matters, you may email
            to student@teachersucenter.com.
          </p>
          <hr
            class="border-[#CCC] mb-4"
            style="
              border: 0 solid #e5e7eb;
              box-sizing: border-box;
              --tw-translate-x: 0;
              --tw-translate-y: 0;
              --tw-rotate: 0;
              --tw-skew-x: 0;
              --tw-skew-y: 0;
              --tw-scale-x: 1;
              --tw-scale-y: 1;
              --tw-scroll-snap-strictness: proximity;
              --tw-ring-offset-width: 0px;
              --tw-ring-offset-color: #fff;
              --tw-ring-color: rgba(59, 130, 246, 0.5);
              --tw-ring-offset-shadow: 0 0 #0000;
              --tw-ring-shadow: 0 0 #0000;
              --tw-shadow: 0 0 #0000;
              --tw-shadow-colored: 0 0 #0000;
              border-top-width: 1px;
              color: inherit;
              height: 0;
              margin: 0;
              margin-bottom: 1rem;
              --tw-border-opacity: 1;
              border-color: rgb(204 204 204 / var(--tw-border-opacity));
            "
          />
          <div
            class="flex divide-x divide-[#CCC] mb-8"
            style="
              border: 0 solid #e5e7eb;
              box-sizing: border-box;
              --tw-translate-x: 0;
              --tw-translate-y: 0;
              --tw-rotate: 0;
              --tw-skew-x: 0;
              --tw-skew-y: 0;
              --tw-scale-x: 1;
              --tw-scale-y: 1;
              --tw-scroll-snap-strictness: proximity;
              --tw-ring-offset-width: 0px;
              --tw-ring-offset-color: #fff;
              --tw-ring-color: rgba(59, 130, 246, 0.5);
              --tw-ring-offset-shadow: 0 0 #0000;
              --tw-ring-shadow: 0 0 #0000;
              --tw-shadow: 0 0 #0000;
              --tw-shadow-colored: 0 0 #0000;
              margin-bottom: 2rem;
              display: flex;
            "
          >
            <div
              class="px-2 text-sm first:pl-0"
              style="
                border: 0 solid #e5e7eb;
                box-sizing: border-box;
                --tw-translate-x: 0;
                --tw-translate-y: 0;
                --tw-rotate: 0;
                --tw-skew-x: 0;
                --tw-skew-y: 0;
                --tw-scale-x: 1;
                --tw-scale-y: 1;
                --tw-scroll-snap-strictness: proximity;
                --tw-ring-offset-width: 0px;
                --tw-ring-offset-color: #fff;
                --tw-ring-color: rgba(59, 130, 246, 0.5);
                --tw-ring-offset-shadow: 0 0 #0000;
                --tw-ring-shadow: 0 0 #0000;
                --tw-shadow: 0 0 #0000;
                --tw-shadow-colored: 0 0 #0000;
                padding-right: 0.5rem;
                font-size: 0.875rem;
                line-height: 1.25rem;
                padding-left: 0;
              "
            >
              <a href="mailto:techgeeks@teachersucenter.com">IT SUPPORT</a>
            </div>
           
            <div
              class="px-2 text-sm last:pr-0"
              style="
                border: 0 solid #e5e7eb;
                box-sizing: border-box;
                --tw-translate-x: 0;
                --tw-translate-y: 0;
                --tw-rotate: 0;
                --tw-skew-x: 0;
                --tw-skew-y: 0;
                --tw-scale-x: 1;
                --tw-scale-y: 1;
                --tw-scroll-snap-strictness: proximity;
                --tw-ring-offset-width: 0px;
                --tw-ring-offset-color: #fff;
                --tw-ring-color: rgba(59, 130, 246, 0.5);
                --tw-ring-offset-shadow: 0 0 #0000;
                --tw-ring-shadow: 0 0 #0000;
                --tw-shadow: 0 0 #0000;
                --tw-shadow-colored: 0 0 #0000;
                padding-left: 0.5rem;
                font-size: 0.875rem;
                line-height: 1.25rem;
                padding-right: 0;
                --tw-divide-x-reverse: 0;
                border-left-width: calc(1px * (1 - var(--tw-divide-x-reverse)));
                border-right-width: calc(1px * var(--tw-divide-x-reverse));
                --tw-divide-opacity: 1;
                border-color: rgb(204 204 204 / var(--tw-divide-opacity));
              "
            >
              <a href="mailto:hello@teachersucenter.com"> CONTACT US</a>
            </div>
          </div>
          <div
            class="text-sm"
            style="
              border: 0 solid #e5e7eb;
              box-sizing: border-box;
              --tw-translate-x: 0;
              --tw-translate-y: 0;
              --tw-rotate: 0;
              --tw-skew-x: 0;
              --tw-skew-y: 0;
              --tw-scale-x: 1;
              --tw-scale-y: 1;
              --tw-scroll-snap-strictness: proximity;
              --tw-ring-offset-width: 0px;
              --tw-ring-offset-color: #fff;
              --tw-ring-color: rgba(59, 130, 246, 0.5);
              --tw-ring-offset-shadow: 0 0 #0000;
              --tw-ring-shadow: 0 0 #0000;
              --tw-shadow: 0 0 #0000;
              --tw-shadow-colored: 0 0 #0000;
              font-size: 0.875rem;
              line-height: 1.25rem;
            "
          >
            © TECH TEAM - TEACHER SU CENTRE
          </div>
        </footer>
      </section>
    </div>
  </body>
</html>
