<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Saira:wght@300;400;700&display=swap");
      html, body {
        font-family: "Saira", sans-serif;
      }
    </style>
  </head>
  <body>
    <div
      style="width: 100%; max-width: 768px; margin-left: auto; margin-right: auto; padding: 1rem"
    >
      <img
        src="https://api.teachersucenter.com/media2/logoremote.png"
        alt="Teacher Su Center"
        width="80px"
        height="80px"
        style="margin-bottom: 1rem"
      />
      <h1 style="margin-top: 0">Hi, Welcome to Teacher Su Centre!</h1>
      <p>
        Welcome <b>{{context.name}}</b>, your academic journey begins here. Let's get you started.
              The center will be using Microsoft Teams mainly for conducting its courses. Furthermore, 
              all academic-related communications will be made using this email address. To download 
              Microsoft Teams, click <a href="https://teams.microsoft.com/edustart">here</a>. 
      </p>
      <p>
        email: {{context.email}}
        <br />
        password: {{context.password}}
      </p>
      <p>
        After downloading Mircrosoft Teams, you may log in with the above credentials. 
        Please keep your credentials safe and do not share with anyone, <b>even with the school.</b>
        For your first time logging in, Microsoft will ask you to change your password. Please change it
        to something secure and do not lose the password. <br>
        <b>IMPORTANT!</b><br>
        <b>Don't share your password with anyone. Even with the school.</b>
      </p>
      <h1 style="margin-top: 0; margin-bottom: 1rem; color: #333">Teacher Su Centre</h1>
      <hr style="border-color: #ccc; border-width: 1px" />
      <p style="font-size: 0.8rem;">
        This is a system generated message. Please do not reply to this. For IT enquiries, 
            you may email us at techgeeks@teachersucenter.com. For academic matters, you may email
            to student@teachersucenter.com.
      </p>
      <hr style="border-color: #ccc; border-width: 1px; margin-bottom: 1rem" />
      <div style="margin-bottom: 1rem; font-size: .8rem;">
        <a href="mailto:techgeeks@teachersucenter.com" style="color: rgb(82 82 82); margin-right: 1rem">IT SUPPORT</a> |
        <a href="https://www.microsoft.com/en-sg/microsoft-teams/log-in" style="color: rgb(82 82 82); margin: 0 1rem">GO TO MS TEAM</a> |
        <a href="mailto:hello@teachersucenter.com" style="color: rgb(82 82 82); margin-left: 1rem">CONTACT US</a>
      </div>
      <div style="font-size: .8rem;">&copy; TECH TEAM - TEACHER SU CENTRE</div>
    </footer>
  </body>
</html>
